body{
	font-family: "Open Sans", sans-serif;
	background-color:#2b2e4a ;

}
.navbar {
	overflow: hidden;
	background-color: rgb(0, 0, 0);
  }
  
  .navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 25px 16px;
	text-decoration: none;
	
  }
  
  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  .dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 25px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: red;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 10;
  }
  
  .dropdown-content a {
	float: none;
	color: black;
	padding: 25px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
 a.signUp{
padding: 25px;
position: absolute;
text-align: right;
right: 0px;
background-color: red;
text-decoration: none;
color: white;
border-radius: 7px;
font-weight: bold;
z-index: 9;



}
 a.signUp:hover{
	background-color: red;
}
nav.nava{
	background-image: url('01.jpg');
	background-size: cover;
	
	height:91.5vh;
	position: relative;
}
nav div.overlay{
	background-color: #0000005c;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
nav div.textTitle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 3;
	color: white;
	
}
nav div h1{
	font-size: 6vw;
}
nav div span{
	color: red;
	letter-spacing: 7px;
}
nav div p{
	font-size:2vw;
}
aside{
	width:100%;
	min-height: 200px;
}
aside h1 {
	text-align: center;
	color: darkgrey;
	font-size: 6vw;
}
aside h1 span{
	color: red;
}
aside h2{
	text-align: center;
	font-size: 22px;
	color: azure;
}
div.imgGalry{
display: flex;
justify-content:  space-around;
flex-wrap: wrap;

}
.imgG{
	width: 300px;
	height: 300px;
	border:1px solid #ccc;
	box-shadow :1px 1px 6px red;
	cursor: pointer;
	opacity: .7;
	transition-duration: .5s;
}
.imgG:hover{
	opacity: 1;
}
.textofgalary{
	color: white;
}
div img{
width: 200px;
height: 200px;
padding-left: 17%;
padding-top: 14%;
}
div p{
	text-align: center;
}
footer{
	margin-top: 50px;
	text-align: center;
	background-color:#252424;
	color: blanchedalmond;
    height: 20px;
    padding: 30px;
}
footer span{
	color:red;
	
}
div label{
	color: white;
    background-color: #2b2e4a;
    transform: translate(18px,-10px);
    position: absolute;
    padding: 0 7px;
}
label.special{
	color: white;
	position: absolute;
	transform: translate(-92px,0px);
	letter-spacing: 5px;
}
form{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
input{
	outline: none;
	background-color: transparent;
	color: white;
	height: 25PX;
	border: 1px solid #bf8e8e;
	border-radius: 5px;
	margin-top: 20px;
	
	
}
div input{
	width: 250px;
}
table{
	width: 80%;
	color: seashell;
}
table, th, td {
	border: 1px solid rgb(255, 255, 255);
	border-collapse: collapse;
  }
  tr:nth-child(even){
	  background-color: #e94e4e;
	}
 tr:hover {
	 background-color: rgb(238, 94, 94);
	}
	@media screen and (max-width:768px) {
		div.navbar{
			display: flex;
			flex-direction: column;
			width: 20%;
		}
		.dropdown .dropbtn{
			padding: 25px 0px;
			width: 100%;
		}
		nav.nava{
			
			background-size: 768px;
						
			height: 76vh;
					}
		div.cont{
			display: flex;
			flex-direction: row;
		}
		 ul{
			flex-direction: column;
			width: 20%;
			z-index: 7;
		}
		ul li{
			padding: 15px 0px;
			text-align: center;
			width: 100%;
		}
		div.reminder{
			width: 80%;
		}
		div.imgGalry{
			height: 1000px;
		}
		.imgG{
		width: 230px;
		
		}
		li{
			width: 100%;
		}
		
	div img{
		width: 150px;
		height: 200px;

	}
	a.signUp {
		padding: 15px;}
		
	}
	@media screen and (max-width:768px){
		nav.nava{
			
			background-size: 425px;
			height: 57vh;
		}
	}
