body{
	font-family: "Open Sans", sans-serif;
	background-color:#2b2e4a ;

}
div.cont{
	display: flex;
	flex-direction: column;
}
div.reminder{
	display: flex;
	flex-direction: column;
}
ul{
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	background-color: black;
	position: sticky;
	top: 0;
	z-index: 8;
	

}
 ul li{
	list-style-type: none;
padding: 15px;
width: 70px;
}
 ul li:hover{
	background-color: darkred;
}
a{
	text-decoration: none;
	color: white;
}
div label{
	color: white;
    background-color: #2b2e4a;
    transform: translate(18px,-10px);
    position: absolute;
    padding: 0 7px;
    letter-spacing: 5px;
}
label.special{
	color: white;
	position: absolute;
	transform: translate(-92px,0px);
	letter-spacing: 5px;
}
form{
	position: absolute;
	top:80%;
	left: 50%;
	transform: translate(-50%,-50%);
}
input{
	outline: none;
	background-color: transparent;
	color: white;
	height: 25PX;
	border: 1px solid #bf8e8e;
	border-radius: 5px;
	margin-top: 20px;
	
	
}
div input{
	width: 250px;
}
@media screen and (max-width:768px){

   form{
    position: absolute;
	top:60%;
	left: 60%;
	transform: translate(-50%,-50%);
   } 
   ul{
       width: 20%;
       flex-direction: column;
       height: 110vh;
   }
   div.cont{
       flex-direction: row;
   }
 
}
@media screen and (max-width:425px){
    ul{
        display: none;
    }
    form{
        position: absolute;
        top: 50%;
        left: 37%;
        width: 200px;
    }
}